<div class="container">

  <div class="content">
    <div id="title"></div>
    <div id="summary"></div>
  </div>

</div>

<%= content_for :after_js do %>
  <script>
    var news;
    $(document).ready(function(){
      update_feed();
    })

    function update_feed(){
      $.ajax({
        // ajax call
        type: 'GET',
        url: '/update.json',

        // success
        success: function(data){
          news = data;
          console.log(news);
          display(news);
        },

        // error
        error: function(jqXHR){
          console.log(jqXHR.responseText);
        }

      })
    }

    function display(news){
      var count = Object.keys(news).length;
      for (var i=0;i<=count - 1;i++) {
       (function(ind) {
         setTimeout(function(){
          $('#title').html(news[ind].title);
          $('#summary').html(news[ind].summary);
         }, 8000 * ind);
       })(i);
      }
      setTimeout(function(){update_feed();}, 8000 * count);
    }

  </script>
<% end %>
