<div class="container">

  <div class="logo">
    <%= image_tag "maxima.png", height:"80" %>
  </div>

  <div class="content">
    <div id="title"></div>
    <div id="summary"></div>
  </div>

  <div id="preco"></div>

  <div class="footer" id="usd_wrapper">

    <div class="quote_wrapper" id="ibov_wrapper">
      <div class="symbol">IBOV: </div>
      <div class="quote" id="ibov_quote"></div>
      <div class="change" id="ibov_change"></div>
    </div>

    <div class="quote_wrapper" id="usd_wrapper">
      <div class="symbol">USD: </div>
      <div class="quote" id="usd_quote"></div>
      <div class="change" id="usd_change"></div>
    </div>

    <div class="weather_wrapper">
      <div class="weather_status" id="condition"></div>
      <div class="weather_temp">
        <span id="current_temp"></span>&deg
      </div>
      <div class="high-low-wrapper">

        <div class="high">
          <i class="fa fa-long-arrow-up" aria-hidden="true"></i>
          <span id="high"></span>
          &deg
        </div>

        <div class="low">
          <i class="fa fa-long-arrow-down" aria-hidden="true"></i>
          <span id="low"></span>
          &deg
        </div>

      </div>
    </div>

  </div>

</div>

<%= content_for :after_js do %>
  <script>

    var news;
    var quotes;

    //
    //
    // DOCUMENT READY
    //
    //
    $(document).ready(function(){
      update_news_feed();
      update_quotes_feed();
      update_weather_feed();
      update_bbce_feed();
    })

    //
    //
    // NEWS FEED
    //
    //
    function update_news_feed(){
      $.ajax({
        // ajax call
        type: 'GET',
        url: '/update_news.json',

        // success
        success: function(data){
          news = data;
          console.log(news);
          display_news(news);
        },

        // error
        error: function(jqXHR){
          console.log(jqXHR.responseText);
        }

      })
    }

    function display_news(news){
      var count = Object.keys(news).length;
      for (var i=0;i<=count - 1;i++) {
       (function(ind) {
         setTimeout(function(){
          $('#title').html(news[ind].title);
          $('#summary').html(news[ind].summary);
         }, 8000 * ind);
       })(i);
      }
      setTimeout(function(){update_news_feed();}, 8000 * count);
    }

    //
    //
    // QUOTES FEED
    //
    //
    function update_quotes_feed(){
      $.ajax({
        // ajax call
        type: 'GET',
        url: '/update_quotes.json',

        // success
        success: function(data){
          quotes = data;
          console.log(quotes);
          display_quotes(quotes);
        },

        // error
        error: function(jqXHR){
          console.log(jqXHR.responseText);
        }

      })
    }

    function display_quotes(quotes){
      $('#usd_quote').html(quotes[0].last_trade_price)
      $('#usd_change').html(quotes[0].change_in_percent)
      if(quotes[0].change_in_percent.charAt(0) === "+"){
        $("#usd_change").removeClass("change_negative").addClass("change_positive");
      }
      else {
        $("#usd_change").removeClass("change_positive").addClass("change_negative");
      }


      $('#ibov_quote').html(quotes[1].last_trade_price)
      $('#ibov_change').html(quotes[1].change_in_percent)
      if(quotes[1].change_in_percent.charAt(0) === "+"){
        $("#ibov_change").removeClass("change_negative").addClass("change_positive");
      }
      else {
        $("#ibov_change").removeClass("change_positive").addClass("change_negative");
      }

      setTimeout(function(){update_quotes_feed();}, 20000);
    }

    //
    //
    // WEATHER FEED
    //
    //
    function update_weather_feed(){
      $.ajax({
        // ajax call
        type: 'GET',
        url: '/update_weather.json',

        // success
        success: function(data){
          weather = data;
          console.log(weather);
          display_weather(weather);
        },

        // error
        error: function(jqXHR){
          console.log(jqXHR.responseText);
        }

      })
    }

    function display_weather(weather){

      current_temp = weather["query"]["results"]["channel"]["item"]["condition"].temp;
      condition = weather["query"]["results"]["channel"]["item"]["condition"].text;
      high = weather["query"]["results"]["channel"]["item"]["forecast"][0].high;
      low = weather["query"]["results"]["channel"]["item"]["forecast"][0].low;

      $('#current_temp').html(current_temp);
      $('#condition').html(condition);
      $('#high').html(high);
      $('#low').html(low);

      setTimeout(function(){update_weather_feed();}, 100000);

    }

    //
    //
    // BBCE FEED
    //
    //
    function update_bbce_feed(){
      $.ajax({
        // ajax call
        type: 'GET',
        url: '/update_bbce.json',


        // success
        success: function(data){
          bbce = data;
          console.log(bbce);
          display_bbce(bbce);
        },

        // error
        error: function(jqXHR){
          console.log(jqXHR.responseText);
        }

      })
    }

    function display_bbce(bbce){


      last_trade = JSON.parse(bbce[0])[0];
      dataHora = last_trade.dataHora;
      preco = last_trade.preco;
      quantidade = last_trade.quantidade;

      $('#preco').html(preco);
      // $('#condition').html(condition);
      // $('#high').html(high);
      // $('#low').html(low);

      setTimeout(function(){update_bbce_feed();}, 20000);

    }


  </script>
<% end %>
