<div class="container">

  <div class="logo">
    <%= image_tag "maxima.png", height:"80" %>
  </div>

  <div class="content">
    <div id="title"></div>
    <div id="summary"></div>
  </div>


  <div class="lower">
    <div class="quotes">
      <div class="bbce-wrapper">
        <h2>SE con Jul-Dez/17:</h2>
        <div id="sem" class="preco"></div>
      </div>

      <div class="bbce-wrapper">
        <h2>SE con Jul-Set/17:</h2>
        <div id="tri" class="preco"></div>
      </div>

      <div class="bbce-wrapper">
        <h2>SE con Ago/17:</h2>
        <div id="ago" class="preco"></div>
      </div>

      <div class="bbce-wrapper">
        <h2>SE con Set/17:</h2>
        <div id="set" class="preco"></div>
      </div>

    </div>
    <%= render 'footer' %>

  </div>


</div>

<%= content_for :after_js do %>
  <script>

    setInterval(function() {
      window.location.reload();
    }, 900000);

    var news;
    var quotes;

    //
    //
    // DOCUMENT READY
    //
    //
    $(document).ready(function(){
      update_news_feed();
      update_quotes_feed();
      update_weather_feed();
      update_bbce_feed();
    })

    //
    //
    // NEWS FEED
    //
    //
    function update_news_feed(){
      $.ajax({
        // ajax call
        type: 'GET',
        url: '/update_news.json',

        // success
        success: function(data){
          news = data;
          console.log(news);
          display_news(news);
        },

        // error
        error: function(jqXHR){
          console.log(jqXHR.responseText);
        }

      })
    }

    function display_news(news){
      var count = Object.keys(news).length;
      for (var i=0;i<=count - 1;i++) {
       (function(ind) {
         setTimeout(function(){
          $('#title').html(news[ind].title);
          $('#summary').html(news[ind].summary);
         }, 8000 * ind);
       })(i);
      }
      setTimeout(function(){update_news_feed();}, 8000 * count);
    }

    //
    //
    // QUOTES FEED
    //
    //
    function update_quotes_feed(){
      $.ajax({
        // ajax call
        type: 'GET',
        url: '/update_quotes.json',

        // success
        success: function(data){
          quotes = data;
          console.log(quotes);
          display_quotes(quotes);
        },

        // error
        error: function(jqXHR){
          console.log(jqXHR.responseText);
        }

      })
    }

    function display_quotes(quotes){
      $('#usd_quote').html(quotes[0].last_trade_price)
      $('#usd_change').html(quotes[0].change_in_percent)
      if(quotes[0].change_in_percent.charAt(0) === "+"){
        $("#usd_change").removeClass("change_negative").addClass("change_positive");
      }
      else {
        $("#usd_change").removeClass("change_positive").addClass("change_negative");
      }


      $('#ibov_quote').html(quotes[1].last_trade_price)
      $('#ibov_change').html(quotes[1].change_in_percent)
      if(quotes[1].change_in_percent.charAt(0) === "+"){
        $("#ibov_change").removeClass("change_negative").addClass("change_positive");
      }
      else {
        $("#ibov_change").removeClass("change_positive").addClass("change_negative");
      }

      setTimeout(function(){update_quotes_feed();}, 20000);
    }

    //
    //
    // WEATHER FEED
    //
    //
    function update_weather_feed(){
      $.ajax({
        // ajax call
        type: 'GET',
        url: '/update_weather.json',

        // success
        success: function(data){
          weather = data;
          console.log(weather);
          display_weather(weather);
        },

        // error
        error: function(jqXHR){
          console.log(jqXHR.responseText);
        }

      })
    }

    function display_weather(weather){

      current_temp = weather["query"]["results"]["channel"]["item"]["condition"].temp;
      condition = weather["query"]["results"]["channel"]["item"]["condition"].text;
      high = weather["query"]["results"]["channel"]["item"]["forecast"][0].high;
      low = weather["query"]["results"]["channel"]["item"]["forecast"][0].low;

      $('#current_temp').html(current_temp);
      $('#condition').html(condition);
      $('#high').html(high);
      $('#low').html(low);

      setTimeout(function(){update_weather_feed();}, 100000);

    }

    //
    //
    // BBCE FEED
    //
    //
    function update_bbce_feed(){
      $.ajax({
        // ajax call
        type: 'GET',
        url: '/update_bbce.json',


        // success
        success: function(data){
          bbce = data;
          console.log(bbce);
          display_bbce(bbce);
        },

        // error
        error: function(jqXHR){
          console.log(jqXHR.responseText);
        }

      })
    }

    function display_bbce(bbce){

      sem_last_trade = JSON.parse(bbce[0])[0];
      tri_last_trade = JSON.parse(bbce[1])[0];
      ago_last_trade = JSON.parse(bbce[2])[0];
      set_last_trade = JSON.parse(bbce[3])[0];

      $('#sem').html("R$ " + sem_last_trade.preco.toFixed(2));
      $('#tri').html("R$ " + tri_last_trade.preco.toFixed(2));
      $('#ago').html("R$ " + ago_last_trade.preco.toFixed(2));
      $('#set').html("R$ " + set_last_trade.preco.toFixed(2));

      setTimeout(function(){update_bbce_feed();}, 20000);

    }

  </script>
<% end %>
